
    <div>
            <form [formGroup]="fg">
                <div class="col s6">
                <label>Origin skill:</label>
                <select class="browser-default" formControlName="skill1" (change)="selectSkill1()">
                    <option value="" disabled selected>Choose your option</option>
                    <option *ngFor="let item of character.origin?.skillToChoose" [ngValue]="item">{{item.name}}</option>
                </select>
            </div>
            <div class="col s6">
                <label>Job skill:</label>
                <select class="browser-default" formControlName="skill2" (change)="selectSkill1()">
                    <option value="" disabled selected>Choose your option</option>
                    <option *ngFor="let item of character.job?.skillToChoose" [ngValue]="item">{{item.name}}</option>
                </select>
            </div>
            </form>
    </div>