<p>add-job works!</p>
<form [formGroup]="fg" (ngSubmit)="addJob()">
    <p>
        Name:
        <input type="text" formControlName="name">
    </p>
    <p *ngIf="fg.controls['name'].invalid" style="color:red;">
        Le name 
    </p>
    <p>
        Description:
        <input type="text" formControlName="description">
    </p>
    <p *ngIf="fg.controls['description'].invalid" style="color:red;">
        La description
    </p>   
    <div class="input-field">
        <label for="originRestriction" class="active">Origin restriction:</label>
        <select multiple matSelect name="originRestriction" id="originRestriction" formControlName="originRestriction">
        <option *ngFor="let it of originRestriction" [value]="it.name">{{it.name}}</option>
        </select>
    </div>
    <div class="input-field">
        <label for="heritSkills" class="active">Herited skills:</label>
        <select multiple matSelect name="heritSkills" id="heritSkills" formControlName="heritSkills">
        <option *ngFor="let it of skills" [value]="it.name">{{it.name}}</option>
        </select>
    </div>
    <div class="input-field">
        <label for="choiceSkills" class="active">Herited skills:</label>
        <select multiple matSelect name="choiceSkills" id="choiceSkills" formControlName="choiceSkills">
        <option *ngFor="let it of skills" [value]="it.name">{{it.name}}</option>
        </select>
    </div>
    <p *ngIf="fg.controls['choiceSkills'].invalid" style="color:red;">
        les skills heritated doivent être diff des choice
    </p> 

    <button type="submit" [disabled]="fg.invalid">Valider</button>
</form>