<nav class="nav-extended" style="background-color: #FA198B;">
    <div class="nav-wrapper">
    <div class="brand-logo">NaheulBook</div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">LogOut</a></li>
    </ul>
    </div>
    <div class="nav-wrapper">
        <ul>
          <li><a [routerLink]="['/create-char']">Create Character</a></li>
          <li><a [routerLink]="['/']">My Character</a></li>
          <li><a [routerLink]="['/']">Discover</a></li>
          <li><a [routerLink]="['/docs']">Docs</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a  class="disabled" href="">LogOut</a></li>
</ul>