<form [formGroup]="fg" (ngSubmit)="addCharacter()">
    <div class="row" style="margin-top: 30px;">
        <div class="col s1"></div>
        <div class="col s4">
            <label>Firstname:</label>
            <input type="text" formControlName="firstname">
        </div>
        <div class="col s4">
            <label>Lastname:</label>
            <input type="text" formControlName="lastname">
        </div>
    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s5">
            <app-roll (validRoll)="validRoll($event)"></app-roll>
        </div>

        <div class="col s5">

            <app-origin-choice *ngIf="char.characteristics" [origins]="origins" (validOrigin)="validOrigin($event)">
            </app-origin-choice>

            <app-job-choice *ngIf="char.origin" [jobs]="jobs" (validJob)="validJob($event)">
            </app-job-choice>

            <app-skills-choice *ngIf="char.job" [character]="char" (validSkills)="validSkills($event)">
            </app-skills-choice>

            <div class="row">
                <div class="col s5"></div>
                <button *ngIf="char.skills" style="margin-top: 40px;">Valid Character</button>
            </div>
        </div>
    </div>
</form>