<p>list-jobs works!</p>
<table class="highlight">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Heritaded skill</th>
            <th>Skill to choose</th>
            <th>Banned Origin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let job of jobs">
            <td>{{job.name}}</td>
            <td>{{job.description}}</td>
            <td >
                <div *ngFor="let hs of job.heritatedSkill">
                    {{ hs.name }}
                </div>
            </td>
            <td >
                <div *ngFor="let sc of job.skillToChoose">
                    {{ sc.name }}
                </div>
            </td>
            <td>
                <div *ngFor="let bo of job.bannedOrigin">
                    {{ bo.name }}
                </div>
            </td>
            <td>
                <a [routerLink]="['/admin/modify/job/'+job.id]">edit</a>
            </td>
            <td>
                <button (click)="delete(job.id!)">cancel</button>
            </td>
        </tr>
    </tbody>
</table>