<p>list-skills works!</p>
<table class="highlight">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let skill of skills">
            <td>{{skill.name}}</td>
            <td>{{skill.description}}</td>
            <td>
                <a [routerLink]="['/admin/modify/skill/'+skill.id]">edit</a>
            </td>
            <td>
                <button (click)="delete(skill.id!)">cancel</button>
            </td>
        </tr>
    </tbody>
</table>